/* =======================================================================
   FONT
   ======================================================================= */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

/* =======================================================================
   BASE
   ======================================================================= */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #222;
  padding-bottom: 60px; /* evita o footer cobrir o conteúdo */
}

.text-center {
  text-align: center;
}
