/* =======================================================================
    BOTÕES  E LINKS
   ======================================================================= */
.link-voltar,
.link-add,
.link-reset,
.link-apagar,
.link-edit,
.link-listar {
  text-align: center;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
}

.link-voltar,
.link-add,
.link-reset,
.link-apagar,
.link-edit {
  width: 100px;
}

.link-voltar { background: #efa505; }
.link-add { background: #22c55e; }
.link-reset { background: #f97316; }
.link-apagar { background: #dc2626; }
.link-edit { background: #2d6ef8; }
.link-listar { background: #153aa1; }

.link-voltar:hover { background: #ca8a04; }
.link-add:hover { background: #16a34a; }
.link-reset:hover { background: #ea580c; }
.link-apagar:hover { background: red; }
.link-edit:hover { background: #1d4ed8; }
.link-listar:hover { background: #102c77; }

.task-table th a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  display: inline-block;
  transition: .15s;
}
.task-table th a:hover {
  transform: scale(1.05);
}